<mat-toolbar class="mat-toolbar-master">
    <span>Lista de Roles</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-button matSuffix mat-icon-button (click)="onClose()" tabIndex="-1">
        <mat-icon svgIcon="cancel"></mat-icon>
    </button>
</mat-toolbar>
<div class="mat-elevation-z8">
    <br>
    <table mat-table [dataSource]="listData" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="ROL">
            <mat-header-cell fxFlex="80%" *matHeaderCellDef mat-sort-header>ROL</mat-header-cell>
            <mat-cell fxFlex="80%" *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="SELECCIONE">
            <mat-header-cell fxFlex="20%" *matHeaderCellDef>SELECCIONE</mat-header-cell>
            <mat-cell fxFlex="20%" *matCellDef="let row">
                <button mat-icon-button matTooltip="Asociar Rol" (click)="selectRow(row)">
                    <mat-icon svgIcon="upload_solid"></mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="3" showFirstLastButtons>
    </mat-paginator>
</div>
