<div class="header-container">
    <div class="text-container">
        <div>
            <a class="text-primary-600" href="javascript:void(0)">{{title}}</a>
        </div>
        <div>
            <strong style="padding-left: 10px; padding-right: 10px; font-size: 16px;"> > </strong>
        </div>
        <div>
            <a class="text-primary-400" href="javascript:void(0)">Gestión Clientes</a>
        </div>
    </div>
    <div>
        <h2 class="title-h2">Administrar Clientes</h2>
    </div>
</div>
<div class="container">
    <div class="search-div">
        <button class="circule-button padding-right" mat-raised-button matTooltip="Nuevo Producto" (click)="onCreater()">
            <mat-icon svgIcon="plus"></mat-icon>
        </button>
        <button style="margin-left: 10px;" class="circule-button" matTooltip="Borrar" mat-raised-button (click)="onEraser()">
            <mat-icon svgIcon="eraser"></mat-icon>
        </button>
        <mat-form-field class="search-form-field w-60">
            <input matInput [(ngModel)]="searchKey" placeholder="¿Buscar Client por Cualquier Campo?" autocomplete="off"
                (keydown.enter)="onSearchCustomer($event)" appUpper>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clear()">
                <mat-icon svgIcon="cancel"></mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button>
                <mat-icon svgIcon="search"></mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="datasource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="CLIENTE">
                <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
                <mat-cell fxFlex="40%" *matCellDef="let row">{{row.bussinesName?row.bussinesName:row.firstName +' '+ row.lastName | firstLetterUpperCase}}</mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="EMAIL">
                <mat-header-cell fxFlex="30%" *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
                <mat-cell fxFlex="30%" *matCellDef="let row">{{row.email}}</mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="NRO. DOCUMENTO">
                <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header>NRO. DOCUMENTO</mat-header-cell>
                <mat-cell fxFlex="20%" *matCellDef="let row">{{row.numberDocument}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="SELECCIONE">
                <mat-header-cell fxFlex="10%" *matHeaderCellDef>SELECCIONE</mat-header-cell>
                <mat-cell fxFlex="10%" *matCellDef="let row">
                    <button mat-icon-button matTooltip="Editar" (click)="onCreater(row)">
                        <mat-icon svgIcon="edit"></mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="onDelete(row)">
                        <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        <mat-paginator [length]="totalElements" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

