<mat-toolbar class="mat-toolbar-master">
    <span>Acerca de Sesy Farma</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-button matSuffix mat-icon-button (click)="onClose()" tabIndex="-1">
        <mat-icon svgIcon="cancel"></mat-icon>
    </button>
</mat-toolbar>
<div class="row">
    <div style="padding: 20px;">
        <div>
            <h1 style="display: inline;font-size: 14px;font-weight: 600;">Versión &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
            <p style="display: inline;">1.0.0</p>
        </div>
        <div>
            <h1 style="display: inline;font-size: 14px;font-weight: 600;">Copyright &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
            <p style="display: inline;">Cristian tucno Conde</p>
        </div>
        <div>
            <h1 style="display: inline;font-size: 14px;font-weight: 600;">Descripción &nbsp;&nbsp;</h1>
            <p style="display: inline;">Sistema para gestionar el stock y las ventas de la botica sesy farma</p>
        </div>
    </div>
</div>

