<mat-toolbar class="mat-toolbar-master">
    <span>COMPROBANTE DE PAGO</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-button matSuffix mat-icon-button (click)="onClose()" tabIndex="-1">
        <mat-icon svgIcon="cancel"></mat-icon>
    </button>
</mat-toolbar>
<iframe  width="99.7%" height="72%" [src]="url"  style="margin: auto;">
</iframe>
<div class="row">
    <div class="col">
        <input style="width: 95%; margin-left: 10px;height: 24px;" placeholder="Ingresar Email" type="email">
    </div>
    <div class="col">
        <button class="btn-email" style="width: 20%;">Enviar</button>
    </div>
</div>
