.text-card-footer{
    font-weight: 800;
    text-align: center;
}
.text-card-detail{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.example-card {
    max-width: 50%;
    margin: auto;
}
  