<div class="header-container">
    <div class="text-container">
        <div>
            <a class="text-primary-600" href="javascript:void(0)">{{title}}</a>
        </div>
        <div>
            <strong style="padding-left: 10px; padding-right: 10px; font-size: 16px;"> > </strong>
        </div>
        <div>
            <a class="text-primary-600" href="javascript:void(0)">Gestión Usuario</a>
        </div>
    </div>
    <div>
        <h2 class="title-h2">Cambiar Contraseña</h2>
    </div>
</div>
<div class="container">
    <div class="search-div">
        <button class="circule-button" matTooltip="Cambiar Contraseña" mat-raised-button [disabled]="onBlSave()"
            (click)="onSubmit()">
            <mat-icon svgIcon="update"></mat-icon>
        </button>
        <button style="margin-left: 10px;" matTooltip="Limpiar" mat-raised-button (click)="CleanForm()"
            [disabled]="onBlSave()">
            <mat-icon svgIcon="edit_solid"></mat-icon>
        </button>
    </div>
    <form [formGroup]="frmChangePassword">
        <mat-card class="shipping-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input [type]="hide ? 'password' : 'text'" matInput maxlength="15"
                                placeholder="Contraseña actual" type="password" formControlName="password">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon [svgIcon]="getIcon()"></mat-icon>
                            </button>
                            <mat-error *ngIf="frmChangePassword.get('password')?.hasError('required')">
                                Por Favor, Ingrese Contraseña Actual
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input [type]="hideNewPassword ? 'password' : 'text'" matInput maxlength="15"
                                placeholder="Nueva contraseña" type="password" formControlName="newPassword">
                            <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                                <mat-icon [svgIcon]="getIconNewPassword()"></mat-icon>
                            </button>
                            <mat-error *ngIf="frmChangePassword.get('newPassword')?.hasError('required')">
                                Por Favor, Ingrese Nueva Contraseña
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input [type]="hideConfirmNewPassword ? 'password' : 'text'" matInput maxlength="15"
                                placeholder="Repetir contraseña nueva" type="password"
                                formControlName="confirmNewPassword">
                            <button type="button" mat-icon-button matSuffix
                                (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmNewPassword">
                                <mat-icon [svgIcon]="getIcon()"></mat-icon>
                            </button>
                            <mat-error *ngIf="frmChangePassword.get('confirmNewPassword')?.hasError('required')">
                                Por Favor, Vuelva Ingresar La Nueva Contraseña
                            </mat-error>
                            <mat-error *ngIf="frmChangePassword.get('confirmNewPassword')?.hasError('matchPassword')">
                                Las Nuevas contraseñas <strong>no coenciden</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>