.header-app{
    position: sticky;
    top: 0;
    left: 0;
    background: #FFFFFF;
    //box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.material-icons.color_black { color: #000000; }

.logo-bancom-ref {
    position: relative;
    margin-bottom: -10px;
    cursor: pointer;
}

.logo-bancom-ref img {
    width: 105px;
    height: auto;
}

.navbar-items {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.link-faq {
    font-family: 'LondonWebMed';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -1px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar-items {
        height: 56px;
    }

    .logo-bancom-ref img {
        width: 69px;
        height: 39px;
    }

    .link-faq {
        font-size: 12px;
        line-height: 16px;
    }
}

::ng-deep .mat-toolbar {
    z-index: 998;
}

.input-search{
    padding-left: 10px;
    margin-left: 90px;
    height: 32px;
    width: 800px;
    -webkit-appearance: none;
}

.a-header{
    padding: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
}