.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.btn-search{
    margin-left: 5px;
    width: 5%;
    border-radius: 8px;
    color: #000000;
}

.input-cod-search{
    width: 28%;
}

.input-cod-description{
    width: 90%;
}